/* ===================== */
/* BASE */
/* ===================== */
.obtener-tp {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  padding: 0 80px;
  position: relative;
}

/* CONTENIDO */
.obtener-tp .content-tp {
  grid-area: stack;
  z-index: 1;
  color: #fff;

  align-self: center;
  justify-self: end;

  margin: 0 60px 0 10px;
  max-width: 500px;
}

/* IMAGEN */
.obtener-tp .obtener-tp-img {
  grid-area: stack;
  width: 100%;
  height: auto;
  z-index: 0;

  object-fit: cover;
  object-position: right center;
}

/* BOTÓN */
.tp-btn {
  margin-top: 24px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;

  border: none;
  border-radius: 999px;
  cursor: pointer;

  color: #fff;
  background: #2E4157;

  box-shadow: 0 10px 25px rgba(74, 146, 203, 0.35);
  transition: all 0.3s ease;
}

.tp-btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 15px 35px rgba(74, 146, 203, 0.5);
}

.tp-btn:active {
  transform: scale(0.97);
}

/* ===================== */
/* TABLET */
/* ===================== */
@media (max-width: 1024px) {

  .obtener-tp {
    padding: 0 40px;
  }

  .obtener-tp .content-tp {
    margin: 0 30px 0 10px;
    max-width: 420px;
  }

  .tp-btn {
    padding: 12px 24px;
    font-size: 15px;
  }
}

/* ===================== */
/* MOBILE */
/* ===================== */
@media (max-width: 768px) {

  .obtener-tp {
    padding: 0 20px;
  }

  .obtener-tp .content-tp {
    justify-self: end;
    text-align: right;
    margin: 0;
  }

  .obtener-tp .obtener-tp-img {
    object-position: end;
  }

  .tp-btn {
    width: 80%;
    margin-top: 10px;
    margin-right: 60px;
  }

  .hero-text-tp{
    margin-right: 60px;
  }
}

/* ===================== */
/* MOBILE PEQUEÑO */
/* ===================== */
@media (max-width: 480px) {

  .tp-btn {
    font-size: 14px;
    margin: 10px;
    margin-right: 50px;
  }

  .hero-text-tp {
    display: none;
  }
}