/* Config Inicial */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 👈 separa extremos */

  padding: 16px 40px;
  background: white;
}

/* logo izquierda */
.logo {
  font-weight: 600;
  font-size: 18px;
}

/* nav centrado */
.nav {
  display: flex;
  gap: 32px; /* 👈 espacio entre links */
}

/* links */
.nav a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.2s;
}

.nav a:hover {
  color: #3F7CAC;
}

/* botón derecha */
.cta {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #3F7CAC;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

/* Footer */
.footer {
  background: #f4f7fb;
  color: #2E4157;
  padding: 60px 40px 20px;
}

/* TOP */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Marca */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #4A92CB;
  border-radius: 50%;
}

.footer-brand p {
  margin: 15px 0;
  max-width: 300px;
  font-size: 14px;
  opacity: 0.8;
}

.stores {
  display: flex;
  gap: 10px;
}

.store-btn {
  background: #4A92CB;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* Columnas */
.footer-columns {
  display: flex;
  gap: 60px;
}

.footer-columns h4 {
  margin-bottom: 10px;
}

.footer-columns a {
  display: block;
  text-decoration: none;
  color: #2E4157;
  opacity: 0.8;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-columns a:hover {
  color: #4A92CB;
}

/* Divider */
.divider {
  height: 1px;
  background: rgba(0,0,0,0.1);
  margin: 40px 0;
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Newsletter */
.newsletter-box {
  display: flex;
  gap: 10px;
}

.newsletter-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.newsletter-box button {
  background: #4A92CB;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.p-footer{
  margin-bottom: 10px;
}

/* Social */
.icons {
  display: flex;
  gap: 15px;
}

/* círculo */
.icons i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #f1f5f9; /* gris clarito */
  color: #2E4157;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* hover */
.icons i:hover {
  background: #4A92CB;
  color: white;
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 10px 20px rgba(74,146,203,0.4);
}

/* Copyright */
.copyright {
  margin-top: 30px;
  font-size: 12px;
  opacity: 0.6;
  text-align: center;
}